//- header
header.navbar.navbar-default.navbar-fixed-top(role="banner")
  .container-fluid
    .navbar-header
      a(href="/").brand-title
        img(alt="Brand", src="/images/WebOrder_Brand.png")
        | &nbsp;WebOrder
    ul.nav.navbar-nav.navbar-right
      li
        img(src="/images/#{userid}.jpg").usernail
      if page==='productlist'
        li.active
          a(href="/productlist") 商品列表
      else
        li
          a(href="/productlist") 商品列表
      if page==='shoppingbasket'
        li.active
          a(href="/shoppingbasket") 购物篮
      else
        li
          a(href="/shoppingbasket") 购物篮
      if page==='orderhistory'
        li.active
          a(href="/orderhistory") 订单历史
      else
        li
          a(href="/orderhistory") 订单历史
      li
        a(href="/logout") 退出

