//- 产品列表
//- 商品json 说明，价格，重量，图片
//- productlist：[
//-  {
//-    id: 0001,
//-    name: '架子鼓',
//-    description: '选自阿拉斯加豪华大木头',
//-    price: 1.23,
//-    weight: 3.28,
//-    picture: <Base64>
//-  },
//-  ...
//- ]
extends layout

block content
  include header
  .container-fluid
    p productlist


