//- 购物车
extends layout

block content
  include header
  .container-fluid
    .row
      table.table.shoppingbasket

    nav.navbar.navbar-default.navbar-fixed-bottom
      .container-fluid
        .row
          .col-md-4
          .col-md-4
            .btn-group(role="group")
              button(type="button")#empty.btn.btn-danger 清空购物篮
              button(type="button")#del.btn.btn-warning 删除所选商品
              button(type="button")#submit.btn.btn-primary 提交订单

          .col-md-4
            span 总价(元)
              strong#total-price.price 0.00
            | &nbsp;
            | &nbsp;
            span 总重(千克)
              strong#total-weight.weight 0

  script(src="javascripts/lib/jquery-2.1.1.min.js")
  script(src="javascripts/shoppingbasket.js")