body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.login-form {
  width: 400px;
  margin: 100px auto;
}

.login-form input {
  height: 50px;
  font-size: 20px;
}

.login-form input[name="username"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-form input[name="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.brand-title, .brand-title:link, .brand-title:visited, .brand-title:hover, .brand-title:active {
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.usernail {
  width: 50px;
  height: 50px;
}

.thumbnail {
  height: 300px;
}

.thumbnail img {
  width: 180px;
  height: 180px;
  border: 1px solid #ccc;
}

.price {
  color: #CC3300;
  font-size: 1.5em;
}

/*.weight {
  margin-right: 0em;
}*/

#productdetail {
  position: absolute;
}

#productdetail img{
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
}

#productdetail .detail{
  position: absolute;
  left: 340px;
  top: 0px;
}

#productdetail .detail ul{
  padding: 0px;
  list-style: none;
}

#productdetail .detail ul li {
  height: 40px;
}

.description {
  display: -webkit-box;/*将对象作为弹性伸缩盒子模型显示*/
  overflow: hidden;
  -webkit-line-clamp: 3;/*限制在一个块元素中显示的文本行数*/
  -webkit-box-orient: vertical;/*设置或检索伸缩盒对象的子元素排列方式*/
  text-overflow: ellipsis;
}

.shoppingbasket {
  width: 1000px;
  /*height: 1000px;*/
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.6);
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.footer-center {
  margin: 0 auto;
}

.list-group-item {
  background-color: #FCFCFC;
}

.basketnail {
  width: 80px;
  height: 80px;
}

.orderlist {
  width: 1000px;
  padding: 10px;
}

.orderlist thead, .orderlist tbody {
  display: none;
}

.table-outerborder {
  border: 1px solid #ccc;
}

